@use '@/assets/scss/variables' as vars;

.orders-main-page {
  display: flex;
  flex-direction: column;
  gap: vars.$spacer;

  &-create-block {
    display: flex;
    justify-content: end;

    button {

    }
  }
}